@page
@using PizzaApp.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">      
        <h3>Pizza Selector</h3>    
    </div>


    @if (Model.FirstLoad)
    
    {
        <div class="card-footer">
        <h3>Results</h3>

        <div class="row">
            
        </div>
    </div>
    }

</div>
